/* Add your CSS styles here to customize the appearance of the website of XerosRadio */
@import url(https://fonts.bunny.net/css?family=sofia-sans:800);

* {
  font-family: 'Sofia Sans', sans-serif;
  box-sizing: border-box;
  font-weight: 800;
}

body {
  background: radial-gradient(circle, rgba(122, 1, 254, 1) 15%, rgba(74, 85, 255, 1) 61%, rgba(38, 147, 255, 1) 88%);
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

h1, h2, h3, h4, p, b {
  font-weight: 800;
}

img {
  width: 100%;
  height: auto;
}

.navbar {
  color: white;
  background-color: #008cff;
}

.navbar-brand img {
  width: 100%;
  max-width: 80px;
  height: auto;
}

.navbar-toggler {
  border: none;
}

.fa-bars {
  color: #b703ff;
  font-size: 24px;
}

.navbar-nav .nav-link {
  color: #fff;
}

#artwork img {
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Nu Live Artwork */
.NieuwsText {
  background-color: #008cff;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.onairhandler {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.djstitle {
  color: white;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.privacybeleidtext {
  color: white;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.xerosradioplaylist {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.MainTitlePlaylist {
  color: white;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.MainTitleOverons {
  color: white;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.MainTitleNieuws {
  color: white;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.content {
  color: white;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.Nieuws {
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.radioplayerxerosradio {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

iframe {
  border: none;
  margin: 0;
  padding: 0;
}

.box {
  width: 200px;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 2px rgb(0, 174, 255);
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}

.box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.box h2, .box p {
  color: black;
  transition: color 0.3s ease;
}

.box h2:hover, .box p:hover {
  color: rgb(0, 174, 255);
}

#feed-feed-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  border-radius: 8px;
  padding: 20px;
}

.feed-article {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feed-article:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.feed-article h2 {
  margin: 0 0 10px;
  font-size: 1.2em;
  color: #333;
}

.feed-date {
  font-size: 0.9em;
  color: #666;
  margin: 0 0 10px;
}

.feed-read-more {
  display: inline-block;
  padding: 8px 15px;
  font-size: 0.9em;
  color: #007bff;
  text-decoration: none;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.feed-read-more:hover {
  background-color: #007bff;
  color: #fff;
}

.feed-article-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin: 10px 0;
}

.feed-description {
  font-size: 0.9em;
  color: #555;
  transition: max-height 0.3s ease;
  overflow: hidden;
  width: 100%;
}

#feed-load-more {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

#feed-load-more:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .box {
    width: 90%;
  }
}

.radioPlayer {
  background-color: #008cff;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nowPlaying {
  margin-top: 10px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

#albumArtwork {
  max-width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#playPauseButton, #castButton {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin: 0 20px;
  border: none;
  border-radius: 50%;
  padding: 5px;
}

.xeros-footer {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  color: white;
}

.xeros-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  max-width: 1200px;
}

.xeros-tiktok-container, .xeros-instagram-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.xeros-tiktok-btn {
  background-color: #ff4b5c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
}

.xeros-tiktok-btn:hover {
  background-color: #ff1e39;
}

.xeros-instagram-feed img {
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .xeros-footer-container {
    flex-direction: column;
    align-items: center;
  }
  .xeros-tiktok-container, .xeros-instagram-container {
    width: 90%;
    margin-bottom: 20px;
  }
}
