/* Add your CSS styles here to customize the appearance of the website of XerosRadio website */
@import url(https://fonts.bunny.net/css?family=sofia-sans:800);

html {
  scroll-behavior: smooth;
}

* {
    font-family: 'Sofia Sans', sans-serif;
    box-sizing: border-box;
    font-weight: 800;
}

body {
    background: rgb(122, 1, 254);
    background: radial-gradient(circle, rgba(122, 1, 254, 1) 15%, rgba(74, 85, 255, 1) 61%, rgba(38, 147, 255, 1) 81%, rgba(38, 147, 255, 1) 88%);
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography */
h1, h2, h3, h4, p, b {
    font-weight: 800;
}

img {
    width: 100%;
    height: auto;
}

/* Navbar styles */
.navbar {
    color: white;
    background-color: #008cff; /* Updated navbar color */
}

.navbar-brand img {
    width: 100%;
    max-width: 80px; /* Adjust the maximum width as needed */
    height: auto;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    display: none; /* Hide the default Bootstrap icon */
}

.fa-bars {
    color: #b703ff; /* Updated navbar toggle icon color */
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: #fff;
}

/* Artwork Styling */
#artwork img {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Text styles for Nieuws and other elements */
.NieuwsText,
.privacybeleidtext,
.djstitle,
.MainTitlePlaylist,
.MainTitleOverons,
.MainTitleNieuws,
.content,
.Nieuws,
.onairhandler,
.radioPlayer,
.buttonxerosradiomain {
    color: white;
    text-align: center;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

/* Fade in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Box styles */
.box {
    width: 200px;
    text-align: center;
    color: black; /* Fixed missing semicolon */
    text-shadow: 1px 1px 2px rgb(0, 174, 255);
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

/* Box | IMG */
.box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Box | h2 */
.box h2 {
    color: black; /* Fixed missing semicolon */
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.3s ease; /* Add transition for color change */
}

/* Box | p */
.box p {
    color: black; /* Fixed missing semicolon */
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease; /* Add transition for color change */
}

/* Box Hover Effect */
.box h2:hover,
.box p:hover {
    color: rgb(0, 174, 255);
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Change to column for mobile */
    }
    
    .box {
        width: 90%; /* Adjust width for smaller screens */
    }
}

/* Current Dj Onair Balloon */
.on-air-balloon {
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.226); /* Shadow for the balloon */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow properties */
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    user-select: none; /* Prevent selection */
    animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.05); opacity: 0.85; }
  100% { transform: scale(1); opacity: 1; }
}

/* Current Dj Onair Balloon | Before */
.on-air-balloon::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: red transparent transparent transparent;
}

/* Radio player container XerosRadio */
.radioPlayer {
    background-color: #008cff;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Now Playing section XerosRadio */
#nowPlaying {
    margin-top: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow properties */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    user-select: none; /* Prevent selection */
}

/* Album Artwork XerosRadio */
#albumArtwork {
    max-width: 100px;
    height: 100px;
    width: 100px;
    margin-right: 10px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Artist and Title Info XerosRadio */
.info-container {
    flex-grow: 1;
}

#artistInfo,
#titleInfo {
    font-size: 16px;
    color: #fff;
}

/* Player Controls XerosRadio */
.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Play/Pause Button XerosRadio */
#playPauseButton,
#castButton {
    font-size: 24px; /* Larger play button */
    color: #fff;
    cursor: pointer;
    margin: 0 20px;
    border: none;
    border-radius: 50%; /* Rounded corners for play button */
    padding: 5px;
}

/* Volume Slider */
#volumeSlider {
    width: 70%;
}

/* Cookie Banner */
#cb-cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-radius: 0;
    display: none;
}

/* Center the button xerosradio */
.buttonxerosradiomain {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Set initial styles for the element */
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;    
}

/* Style for the xerosradiobuttons */
.xerosradiobutton {
    padding: 10px 20px;
    background-color: #00a8db;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    text-decoration: none; /* Remove the default underline for anchor elements */
    transition: opacity 0.3s ease; /* Add a fade effect on hover */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Hover effect - fade the button */
.xerosradiobutton:hover {
    opacity: 0.7;
    color: #ad00cf;
    text-decoration: none;
}

/* XerosContainer */
.xeros-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* News List */
#newsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* News Item */
.newsItem {
    width: calc(50% - 10px); /* Calculate the width of each news item (50% - margin) */
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.newsItem img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.newsItem .content {
    padding: 20px;
}

.newsItem h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.newsItem p {
    margin: 0;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

/* Button Styling */
.appen-naar-de-studio-button {
    background-color: #9003fc;
    color: white;
    border: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.appen-naar-de-studio-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.appen-naar-de-studio-button .icon {
    margin-right: 0.5rem;
}

/* Feed Body */
.feed-body {
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* Feed Container */
.feed-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Feed Items Layout */
#feed-feed-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    border-radius: 8px;
    padding: 20px;
}

/* Feed Article */
.feed-article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feed-article:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Feed Article Titles and Date */
.feed-article h2 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #333;
}

.feed-date {
    font-size: 0.9em;
    color: #666;
    margin: 0 0 10px;
}

/* Read More Button */
.feed-read-more {
    display: inline-block;
    padding: 8px 15px;
    font-size: 0.9em;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

button {
  text-decoration: none; /* verwijdert onderstreping */
}

.feed-read-more:hover {
    background-color: #007bff;
    color: #fff;
}

/* Feed Article Image */
.feed-article-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin: 10px 0;
    user-drag: none;
}

/* Feed Description */
.feed-description {
    font-size: 0.9em;
    color: #555;
    transition: max-height 0.3s ease;
    overflow: hidden;
    width: 100%;
}

/* Load More Button */
#feed-load-more {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

#feed-load-more:hover {
    background-color: #0056b3;
}

/* Loader Styles */
#feed-loader {
    display: none;
    margin: 20px auto;
    text-align: center;
    align: center;
}

#feed-loader::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid #007bff;
    border-radius: 50%;
    border-top: 5px solid transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Footer Styles */
.xeros-footer {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    color: white;
}

.xeros-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 90%;
    max-width: 1200px;
}

.xeros-tiktok-container,
.xeros-instagram-container,
.xerosradio-facebook-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}

.xeros-tiktok-container h3,
.xeros-instagram-container h3,
.xeros-facebook-container h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #0d1b2a; /* Dark text color */
}

.xeros-tiktok-link,
.xeros-instagram-link,
.xeros-facebook-link {
    text-decoration: none;
    color: #007bff; /* Blue links */
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

/* TikTok Button */
.xeros-tiktok-btn {
    background-color: #ff4b5c; /* Red for the TikTok button */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
}

.xeros-tiktok-btn:hover {
    background-color: #ff1e39;
}

/* Instagram Feed Images */
.xeros-instagram-feed img {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

/* Adjustments for Mobile */
@media (max-width: 768px) {
    .xeros-footer-container {
        flex-direction: column;
        align-items: center;
    }

    .xeros-tiktok-container,
    .xeros-instagram-container,
    .xeros-facebook-container {
        width: 90%;
        margin-bottom: 20px;
    }

    .article {
        color: black;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        margin: 10px 0;
        background-color: #fff;
        margin: 20px;
    }

    .article img {
        max-width: 500px;
        height: auto;
        border-radius: 4px;
        margin: 10px 0;
        user-drag: none;
    }

    .article h2 {
        margin: 0;
        font-size: 1.5em;
    }

    .article p {
        margin: 10px 0;
    }

    .article a {
        color: #007BFF;
        text-decoration: none;
    }

    .article a:hover {
        text-decoration: underline;
    }
}


/* Artikelweergave styling verbeterd voor desktop */
.article-container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.article-container h1,
.article-container h2,
.article-container h3 {
    color: #111;
    margin-top: 20px;
}

.article-container p {
    font-size: 1rem;
    line-height: 1.7;
    color: #333;
    margin-bottom: 1rem;
}

/* Op grotere schermen beperken we de afbeeldinggrootte */
@media (min-width: 768px) {
    .article-container img {
        max-width: 600px;
        display: block;
        margin: 0 auto 20px auto;
    }
}


/* PART 0 - Setting Up */
img[data-opt-src] {
    background-color: #f7f7f7; /* Placeholder opacity needs to be set to 0 in the optimole's settings for this to be visible */
    will-change: opacity;
}

/* PART 1 - Before Lazy Load */
img[data-opt-src]:not([data-opt-lazy-loaded]) {
    filter: none !important;
    opacity: 1 !important;
}

/* PART 2 - Upon Lazy Load */
img[data-opt-lazy-loaded] {
    animation-name: fade-in;
    animation-direction: normal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* New Year Timer XerosRadio */
.newyeartimerxerosradio {
    position: relative;
    width: 100%;
    min-width: 500px; /* Ensure minimum width of 500px */
    padding-bottom: 40%; /* Maintain 5:2 aspect ratio (200px height / 500px width = 0.4) */
    height: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.newyeartimerxerosradio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    object-fit: cover; /* Ensures the iframe content covers the aspect ratio */
}

/* Adjustments for mobile regarding the timer */
@media (max-width: 767px) {
    .newyeartimerxerosradio {
        padding-bottom: 50%; /* Slightly less vertical space on mobile */
    }

    .newyeartimerxerosradio iframe {
        width: 100%;
        height: 100%;
        transform: scale(0.85); /* Zoom out more to fit the content better */
        transform-origin: center center; /* Keeps the scaling centered */
    }
}

/* Playlist */
        .xerosradioplaylist {
            color: black;
        }

        .playlist-item {
            position: relative; /* Added relative positioning for overlay */
            background-color: #fff;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: space-between; /* Align Spotify and YouTube icons */
            transition: background-color 0.3s ease; /* Smooth transition on hover */
            text-align: left;
        }

        .playlist-item:hover {
            background-color: #ededed; /* Darken the background on hover */
        }

        .playlist-item img {
            width: 100px; /* Set cover art size to 100x100 pixels */
            height: 100px;
            border-radius: 5px;
            margin-right: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to the cover art */
        }

        .playlist-item .details {
            flex: 1;
        }

        .playlist-item .details h2 {
            margin: 0;
            transition: color 0.3s ease; /* Add transition for color change */
        }

        .playlist-item .details h2:hover {
            color: #34a8eb; /* Change text color on hover */
        }

        .playlist-item .details p {
            margin: 0;
            transition: color 0.3s ease; /* Add transition for color change */
        }

        .playlist-item .details p:hover {
            color: #34a8eb; /* Change text color on hover */
        }

        .spotify-youtube-container {
            display: flex;
            align-items: center;
        }

        .youtube-icon {
            font-size: 30px;
            cursor: pointer;
            color: #FF0000; /* Set the color to red */
            transition: color 0.3s ease; /* Add transition for color change */
        }

        .spotify-icon {
            font-size: 30px;
            cursor: pointer;
            color: #1DB954; /* Set the color to green */
            transition: color 0.3s ease; /* Add transition for color change */
        }

        .soundcloud-icon {
            font-size: 30px;
            cursor: pointer;
            color: #ff5500; /* Set the color to orange */
            transition: color 0.3s ease; /* Add transition for color change */
        }

        .soundcloud-icon:hover,
        .youtube-icon:hover,
        .spotify-icon:hover {
            color: black; /* Set the color to black */
            transition: color 0.3s ease; /* Add transition for color change */
        }

        .soundcloud-icon,
        .youtube-icon,
        .spotify-icon {
            text-shadow: 2px 2px 4px #000000;
        }


        .youtube-icon {
            margin-left: 10px; /* Add margin to create spacing */
        }

        .soundcloud-icon {
            margin-left: 10px; /* Add margin to create spacing */
        }

        /* Mobile styles */
        @media (max-width: 768px) {
            .playlist-item {
                flex-direction: column; /* Stack items vertically on small screens */
                text-align: center;
            }

            .playlist-item img {
                width: 80px; /* Adjust image size for smaller screens */
                height: 80px;
                margin-right: 0;
                margin-bottom: 10px;
            }

            .spotify-youtube-container {
                margin-top: 10px; /* Add space between cover art and icons on mobile */
            }

            .spotify-icon,
            .youtube-icon {
                font-size: 24px; /* Reduce icon size on smaller screens */
            }
        }
